.form-text {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.form-text::placeholder {
  font-size: 30px;
  font-weight: 500;
}

.add-blog-btn {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: rgb(56, 109, 178);
  border-radius: 5px;
}
